* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: gray !important;
}

@import "header";
@import "footer";
@import "mediaqueries";
@import "variaveis";
@import "mixins";